$black: #000;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #EEE;
$faint-gray: #CCC;
$positive-color: #008800;
$negative-color: #FF0000;

$border-color: $dark-gray;
$font-color: $dark-gray;

$control-font-color: $dark-gray;
$control-default-background-color: $faint-gray;
$control-default-border: 1px solid $dark-gray;
$control-hover-background-color: $light-gray;
$control-hover-border: 2px solid $medium-gray;

@mixin no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}