*, *:before, *:after {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: $black;
    font-size: 16px;
    min-width: 200px;
    width: auto !important;
}

.view {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 0 1rem;

    h1 {
        text-align: center;
        margin: 1.25rem 0;
        font-size: 1.75rem;
    }

    .ProgressBars {
        .ProgressBar > .wrapper {
            cursor: pointer;
        }
    }

    .Buttons {
        display: flex;
        margin: 0 -0.5rem;
        .Button {
            flex: 1;
            margin: 1rem 0.5rem;
        }
    }

}