.Button {
    background-color: $control-default-background-color;
    border: $control-default-border;
    color: $control-font-color;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.5s, color 0.5s;
    margin: 1rem 0;

    @include no-select();

    &:hover {
        background-color: $control-hover-background-color;
    }

}