.ProgressBar {

    margin: 1rem 0;

    .wrapper {

        position: relative;
        border: $control-default-border;
        border-radius: 0.5rem;
        height: 2rem;
        width: 100%;
        overflow: hidden;

        .value {
            display: block;
            font-size: 0.75rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 1;
            font-weight: bold;
            color: $control-font-color;
            @include no-select();
        }

        .fill {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            width: 50%;
            background-color: $control-default-background-color;
            transition: width 0.5s;
        }

        &:hover {
            border: $control-hover-border;
            .fill {
                background-color: $control-hover-background-color;
            }
        }

    }

    &.selected {
        .wrapper {
            border: $control-hover-border;
            .fill {
                background-color: $positive-color !important;
            }
        }

    }

    &.exceeded > .wrapper > .fill {
        background-color: $negative-color !important;
    }
}